@-moz-document url-prefix("https://ds.study.iitm.ac.in/student_dashboard/") {
    /*
     *SIDE BAR
     */
    .list-group-item,
    .list-group-item:last-child {
        border-radius: 0px 50px 50px 0px;
        background-color: #9E2A2Bee !important;
        backdrop-filter: blur(4px);
        margin: 2px 0px;
    }
    
    .list-group > .list-group-item:hover {
        width: 230px !important;
    }
    
    a.bg-dark:hover,
    a.bg-dark:focus {
        background-color: #9E2A2Bdd !important;
    }
    
    .list-group > .list-group-item:hover .d-none {
        display: contents !important;
    }
}