@-moz-document url-prefix("https://ds.study.iitm.ac.in/student_dashboard/"),
               url-prefix("https://app.onlinedegree.iitm.ac.in/student_dashboard/") {
  /*
    *SIDE BAR
    */
  div.first-row {
    padding-top: 0rem !important;
  }

  div.d-none {
    top: 50% !important;
  }

  div.d-none > .list-group {
    transform: translateY(-50%) !important;
  }

  .list-group-item,
  .list-group-item:last-child {
    border-radius: 0px 50px 50px 0px !important;
    background-color: #9E2A2Bee !important;
    border: 0px !important;
    backdrop-filter: blur(4px) !important;
    margin: 2px 0px !important;
  }

  .list-group > .list-group-item:hover {
    width: 230px !important;
  }

  a.bg-dark:hover,
  a.bg-dark:focus {
    background-color: #9E2A2Bdd !important;
  }

  .list-group > .list-group-item:hover .d-none {
    display: contents !important;
  }

  .list-group-item:hover * {
    color: #d6a64f !important;
  }

  /*
    * NAV BAR
    */
  nav.navbar {
    background: #21373E !important;
    max-height: 75px !important;
  }

  div.fixed-top,
  nav.navbar {
    box-shadow: 0px 0px 1px 0px #fff4 !important;
  }

  .nav-link > h6 {
    font-family: lato !important;
    color: white !important;
    text-transform: uppercase !important;
  }

  button.btn,
  button.btn:hover,
  button.btn:active {
    background: #9E2A2B !important;
  }

  button.btn {
    color: white !important;
  }

  .nav-link > h6:hover, button.btn:hover {
    color: #d6a64f !important;
  }

  .navbar-brand > img {
    display: none !important;
  }

  .navbar-brand::before {
    content: url("https://github.com/5ovit/iitm_bs_dashboard_blue/raw/main/images/iitm_logo.svg") !important;
  }

  /*
    * FOOTER
    */
  footer > .reporting {
    background-color: #325E6988 !important;
    color: white !important;
  }

  /*
    * BODY
    */
  html {
    font-size: 1rem !important;
  }

  body {
    background: #28444c !important;
  }

  .dashboard-heading {
    font-family: Lato !important;
    font-size: 38px !important;
    color: #D6A64F !important;
    font-weight: 600 !important;
    border: none !important;
  }

  .dashboard-sub-heading {
    color: #FFF3B0 !important;
    font-size: 26px !important;
    box-shadow: 0px 1px 0px #FFF3B0 !important;
    margin-top: 20px !important;
  }

  .text-dark, .text-dark * {
    color: white !important;
  }

  .dashboard-button, .dashboard-button * {
    background: #9E2A2B !important;
    color: white !important;
  }

  .dashboard-button:hover, .dashboard-button:hover * {
    color: #d6a64f !important;
    cursor: pointer !important;
  }
}
