@-moz-document url-prefix("https://ds.study.iitm.ac.in/student_dashboard/"),
               url-prefix("https://app.onlinedegree.iitm.ac.in/student_dashboard/") {
    /*
     *SIDE BAR
     */
    div.first-row {
        padding-top: 0rem !important;
    }

    div.d-none {
        top: 50%;
    }

    div.d-none > .list-group {
        transform: translateY(-50%);
    }

    .list-group-item,
    .list-group-item:last-child {
        border-radius: 0px 50px 50px 0px;
        background-color: #9E2A2Bee !important;
        border: 0px !important;
        backdrop-filter: blur(4px);
        margin: 2px 0px;
    }

    .list-group > .list-group-item:hover {
        width: 230px !important;
    }

    a.bg-dark:hover,
    a.bg-dark:focus {
        background-color: #9E2A2Bdd !important;
    }

    .list-group > .list-group-item:hover .d-none {
        display: contents !important;
    }

    .list-group-item:hover * {
      color: #d6a64f;
    }

    /*
     * NAV BAR
     */
    nav.navbar {
        background: #21373E !important;
        max-height: 75px;
    }

    div.fixed-top,
    nav.navbar {
        box-shadow: 0px 0px 1px 0px #fff4 !important;
    }

    .nav-link > h6 {
        font-family: lato;
        color: white;
        text-transform: uppercase;
    }

    button.btn,
    button.btn:hover,
    button.btn:active {
        background: #9E2A2B;
    }

    button.btn {
      color: white;
    }

    .nav-link > h6:hover, button.btn:hover {
      color: #d6a64f;
    }

    .navbar-brand > img {
        display: none;
    }

    .navbar-brand::before {
      content: url("https://github.com/5ovit/iitm_bs_dashboard_blue/raw/main/images/iitm_logo.svg");
    }

    /*
     * FOOTER
     */
    footer > .reporting {
        background-color: #325E6988;
        color: white;
    }

    /*
     * BODY
     */
    html {
      font-size: 1rem;
    }

    body {
        background: #28444c;
    }

    .dashboard-heading {
        font-family: Lato;
        font-size: 38px;
        color: #D6A64F !important;
        font-weight: 600 !important;
        border: none !important;
    }
}
